# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*

# Private files
private/

# Backup
reserve/

# Data
data/

# Logs
*.log
nohup.out

# VS Code
.vscode/